:10434 {
	# Define a matcher for authorized API access
	@apiAuth {
		header Authorization "Bearer $OLLAMA_API_TOKEN"
	}

	# Proxy authorized requests
	reverse_proxy @apiAuth ollama:11434 {
		header_up Host {http.reverse_proxy.upstream.hostport}
	}

	# Define a matcher for unauthorized access
	@unauthorized {
		not {
			header Authorization "Bearer $OLLAMA_API_TOKEN"
		}
	}

	# Respond to unauthorized access
	respond @unauthorized "Unauthorized" 401 {
		close
	}
}

$N8N_HOST:15678 {
    reverse_proxy n8n:5678 {
        header_up -Origin
        header_up X-Real-IP {remote_host}
        header_up X-Forwarded-For {remote_host}
        header_up X-Forwarded-Proto {scheme}
    }
    
    tls {
        protocols tls1.2 tls1.3
        issuer acme
    }
}
